<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon (click)="goBack()" name="caret-back-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-img src="https://yt3.googleusercontent.com/CRKVqTJJit6FFJJgAJgI68KoH9kYL2WBQhNZ78hHIDEPiQg42yuA0w-lh-7koolH1Z4eDYlj=s900-c-k-c0x00ffffff-no-rj"></ion-img>
  </ion-item>
  <ion-item>
    Nosso propósito é fazer com que cada vez mais empreendedores possam tirar suas ideias do papel e transformá-las em negócios de sucesso na internet.
  </ion-item>
  <ion-button  expand="block" class="page2" color="success" value="page2" target="_blanck" href="https://www.hostgator.com.br/">Comprar hospedagem</ion-button>

</ion-content>
