<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon (click)="goBack()" name="caret-back-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-img width="100px" src="https://registro.br/assets/img/sobre/ilt-registro.webp"
        alt="notebookilustracao"></ion-img>
  </ion-item>
  <ion-item>
    O Registro.br é o departamento do NIC.br responsável pelas atividades de registro e manutenção dos nomes de domínios que usam o .br. Também executamos o serviço de distribuição de endereços IPv4 e IPv6 e de números de Sistemas Autônomos (ASN) no país.
  </ion-item>
  <ion-button  expand="block" class="page2" color="success" value="page2" target="_blanck" href="https://registro.br/">Comprar domínio</ion-button>

</ion-content>
